/* Estilos generales */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: white;
}

body {
    overflow-x: hidden;
    background-color: #000;
}

.navegacion {
    background: rgba(0, 0, 0, 0.595);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navegacion ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 1rem;
    height: 100%;
    width: 100%;
}

.navegacion ul li {
    margin: 0 1rem;
    color: white;
    cursor: pointer;
}

.navegacion ul li a {
    color: white;
    text-decoration: none;
    transition: .3s ease-in-out;
}

.navegacion ul li a:hover {
    background-color: #1c64ad;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 0 10px #1c64ad;
}

.menu-toggle {
    display: none;
    cursor: pointer;
    font-size: 24px;
    padding: 1rem;
}
@media (max-width: 1025){
    html{
        overflow-x: hidden;
    }

}

/* Estilos para dispositivos pequeños */
@media (max-width: 761px) {
    /* html{
        width: 100vw;
    } */
    .navegacion ul.nav-menu {
        flex-direction: column;
        display: none;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.9);
        width: 100%;
        left: 0;
        padding-top: 1rem;
    }

    .navegacion ul.nav-menu.open {
        display: flex;
    }

    .navegacion ul.nav-menu li {
        margin: 0.5rem 0;
        font-size: 20px; /* Letras grandes para mejor visibilidad */
    }

    .menu-toggle {
        display: block;
        position: absolute;
        right: 10px; /* Ajusta según tu diseño */
        top: 10px; /* Ajusta según tu diseño */
        z-index: 1001; /* Asegura que el botón esté sobre los otros elementos */
    }
}

@media (max-width: 426px) {
    .navegacion ul.nav-menu {
        flex-direction: column;
        display: none;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.9);
        width: 148vw;
        left: 0;
        padding-top: 1rem;
    }
}
@media (max-width: 376px) {
    .navegacion ul.nav-menu {
        flex-direction: column;
        display: none;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.9);
        width: 100%;
        left: 0;
        padding-top: 1rem;
    }
}
@media (max-width: 321px) {
    .navegacion ul.nav-menu {
        flex-direction: column;
        display: none;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.9);
        width: 191vw;
        left: 0;
        padding-top: 1rem;
    }
}

/* Modifica la barra de desplazamiento */
::-webkit-scrollbar {
    width: 12px; /* Grosor de la barra de desplazamiento */
}

::-webkit-scrollbar-track {
    background: transparent; /* Hace el fondo del rastro transparente */
    border-radius: 10px; /* Bordes redondeados para el rastro */
}

::-webkit-scrollbar-thumb {
    background: #888; /* Color gris para el thumb */
    border-radius: 10px; /* Bordes redondeados para el thumb */
}

::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color más oscuro al pasar el mouse */
}
